<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
    <application android:allowBackup="true" android:dataExtractionRules="@xml/data_extraction_rules" android:fullBackupContent="@xml/backup_rules" android:icon="@mipmap/ic_launcher_logo" android:label="@string/app_name" android:roundIcon="@mipmap/ic_launcher_logo_round" android:supportsRtl="true" android:theme="@style/Theme.HoTroHocTap">
        <activity android:name=".activity.DocumentActivity" android:exported="false"/>
        <activity android:name=".activity.ScheduleActivity" android:exported="false"/>
        <receiver android:name=".receiver.RemindReceiver" android:exported="false"/>
        <activity android:name=".activity.ResultActivity" android:exported="false"/>
        <activity android:name=".activity.ScoreInputActivity" android:exported="false" android:theme="@style/Theme.HoTroHocTap"/>
        <activity android:name=".activity.RoadmapActivity" android:parentActivityName=".activity.ResultActivity" android:screenOrientation="portrait" android:theme="@style/Theme.HoTroHocTap"/>
        <activity android:name=".activity.StatActivity" android:exported="false"/>
        <activity android:name=".activity.MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.CompareActivity" android:exported="false" android:screenOrientation="portrait" android:theme="@style/Theme.HoTroHocTap"/>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="bthao.com.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
</manifest>